@{
    ViewData["Title"] = "About";
}

<h2>@ViewData["Title"]</h2>
<h2>@ViewData["Message"]</h2>

<p>Use this area to provide aditional information</p>
<p>@ViewData["Email"]</p>

<strong>Find more information here: <a href="https://www.uol.com.br"> UOL</a></strong>